    td.highlight,
    table.dataTable tbody tr.odd td.highlight,
    table.dataTable tbody tr.even td.highlight {
        background-color: #d9ebf5 !important;
    }

    div.userrights-table-container {
        width: calc(100vw - 305px - 58px);
    }

    table.dataTable.cell-border tbody th,
    table.dataTable.cell-border tbody td {
        border-top: none;
        border-right: 1px solid #ddd;
        border-left: none !important;
    }

    table.dataTable.cell-border thead th,
    table.dataTable.cell-border thead td {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ddd;
        border-left: none;
    }

    table#userrights tbody th:last-child,
    table#userrights tbody td:last-child,
    table#userrights thead th:last-child,
    table#userrights thead td:last-child {
        border-right: none !important;
    }

    .DTFC_ScrollWrapper {
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
    }

    table.dataTable.cell-border tbody tr:first-child th,
    table.dataTable.cell-border tbody tr:first-child td {
        border-top: none;
    }

    .dataTables_wrapper.no-footer .dataTables_scrollBody {
        border-bottom-color: #ccc;
    }

    table.dataTable,
    table.dataTable p {
        font-size: 12px;
    }

    table.dataTable p {
        margin: 4px 0px;
    }

    table.dataTable tbody tr.even td {
        background-color: #f3f3f3;
    }

    table.dataTable tbody tr.odd td {
        background-color: white !important;
    }

    table.dataTable thead th {
        background-color: #ececec !important;
    }

    div#userrights_wrapper {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }

    table.dataTable hr {
        height: 1px;
        border-width: 0;
        color: #eee;
        background-color: #eee;
        margin: 3px 0px;
    }

    table.noOrderIcon.dataTable thead .sorting,
    table.noOrderIcon.dataTable thead .sorting_asc,
    table.noOrderIcon.dataTable thead .sorting_desc,
    table.noOrderIcon.dataTable thead th .sorting,
    table.noOrderIcon.dataTable thead th .sorting_asc,
    table.noOrderIcon.dataTable thead th .sorting_desc {
        background-image: none !important;
    }

    span.popoverspan {
        cursor: help;
    }

    a.popoverspan {
        cursor: pointer;
    }

    a.popoverspan:hover {
        font-size: inherit;
        font-family: "Atkinson Hyperlegible" !important;
    }

    .popover {
        max-width: 1000px;
        font-family: "Atkinson Hyperlegible" !important;
    }

    .popover td {
        border-left: 1px solid #ddd !important;
        border-top: 1px solid #ddd !important;
        border-collapse: collapse !important;
        width: 30px;
        text-align: center;
        vertical-align: middle;
    }

    .ui-priority-secondary {
        opacity: 1 !important;
    }

    .popover thead th {
        background-color: #ececec;
        border-bottom: 1px solid #aaa !important;
        border-top: 1px solid #aaa !important;
    }

    .popover th:nth-child(1) {
        border-left: 1px solid #aaa !important;
    }

    .popover tbody tr:nth-child(1) td,
    .popover tbody tr:nth-child(1) th {
        border-top: none !important;
    }

    .popover tbody tr:last-child td,
    .popover tbody tr:last-child th {
        border-bottom: 1px solid #aaa !important;
    }

    .popover td:last-child,
    .popover th:last-child {
        border-right: 1px solid #aaa !important;
    }

    .popover tbody tr:nth-child(even) td,
    .popover tbody tr:nth-child(even) th {
        background-color: #f3f3f3;
    }

    .popover table {
        font-size: 12px;
        border-collapse: separate !important;
        border-spacing: 0 !important;
        margin-right: 20px;
    }

    .popover th {
        padding: .25rem;
        border-left: 1px solid #ddd !important;
        border-top: 1px solid #ddd !important;
    }

    .popover div.popover-table {
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 90vh;
    }

    .popover thead {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        inset-block-start: 0;
    }

    table#userrights tbody th:last-child,
    table#userrights tbody td:last-child,
    table#userrights thead th:last-child,
    table#userrights thead td:last-child {
        border-right: none !important;
    }

    th.dtfc-fixed-left {
        z-index: 100;
    }

    .instrumentCell:hover {
        text-decoration: underline;
    }

    .popover-table tbody tr:hover td,
    .popover-table tbody tr:hover th {
        background-color: #d9ebf5 !important;
    }

    @font-face {
        font-family: "Atkinson Hyperlegible";
        src: url("fonts/Atkinson-Hyperlegible/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2"),
            url("fonts/Atkinson-Hyperlegible/WOFF/Atkinson-Hyperlegible-Regular-102.woff") format("woff");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "Atkinson Hyperlegible";
        src: url("fonts/Atkinson-Hyperlegible/WOFF2/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2"),
            url("fonts/Atkinson-Hyperlegible/WOFF/Atkinson-Hyperlegible-Bold-102.woff") format("woff");
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: "Atkinson Hyperlegible";
        src: url("fonts/Atkinson-Hyperlegible/WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2") format("woff2"),
            url("fonts/Atkinson-Hyperlegible/WOFF/Atkinson-Hyperlegible-Italic-102.woff") format("woff");
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: "Atkinson Hyperlegible";
        src: url("fonts/Atkinson-Hyperlegible/WOFF2/Atkinson-Hyperlegible-BoldItalic-102a.woff2") format("woff2"),
            url("fonts/Atkinson-Hyperlegible/WOFF/Atkinson-Hyperlegible-BoldItalic-102.woff") format("woff");
        font-weight: bold;
        font-style: italic;
    }

    @font-face {
        font-family: "JetBrainsMono";
        src: url("fonts/JetBrains-Mono/fonts/webfonts/JetBrainsMono-Regular.woff2");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "JetBrainsMono";
        src: url("fonts/JetBrains-Mono/fonts/webfonts/JetBrainsMono-Bold.woff2");
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: "JetBrainsMono";
        src: url("fonts/JetBrains-Mono/fonts/webfonts/JetBrainsMono-Italic.woff2");
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: "JetBrainsMono";
        src: url("fonts/JetBrains-Mono/fonts/webfonts/JetBrainsMono-BoldItalic.woff2");
        font-weight: bold;
        font-style: italic;
    }

    div.module-container,
    div.module-container a,
    div.flatpickr-calendar {
        font-family: 'Atkinson Hyperlegible' !important;
    }

    div.module-container p,
    div.module-container a {
        font-size: 14px !important;
    }

    div.module-container pre {
        font-family: "JetBrainsMono" !important;
        font-size: 12px !important;
    }

    div.module-container tbody {
        font-size: 14px !important;
    }